h1{
    font-family: 'Times New Roman', Times, serif;
}
.username{
    font-family: 'Times New Roman', Times, serif;
}
.password{
    font-family: 'Times New Roman', Times, serif;
}

.loginPage{
    margin: 2px;
    padding: 2px;
}